---
- hosts: nokia
  vars:
    - ansible_network_os: nokia.sros.md
  vars_prompt:
    - name: ansible_user
      prompt: "Username"
      private: no
    - name: ansible_password
      prompt: "Password"
  connection: netconf
  gather_facts: No

  collections:
  - nokia.sros

  tasks:
  - name: get device info
    device_info:
    register: device_info

  - name: display device info
    debug:
      msg: |
        {{device_info.output}}
...
